<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h4 class="h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  {% case section.blocks.size %}
    {% when 1 %}
      {%- assign block_width = 'one-whole' -%}
    {% when 2 %}
      {%- assign block_width = 'small--one-whole medium--one-half large--one-half post-large--one-half' -%}
  {% endcase %}

  <div class="custom-content">
    {% for block in section.blocks %}
      <div class="custom__item {{ block_width }}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}">
          {% case block.type %}
            {% when 'video' %}
              <div class="video-wrapper">
                {% if block.settings.video_url == blank %}
                  <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                {% else %}
                  {% if block.settings.video_url.type == "youtube" %}
                    <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  {% if block.settings.video_url.type == "vimeo" %}
                    <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?color={{ settings.color_secondary | remove: "#" }}&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                {% endif %}
              </div>
            {% when 'text' %}
              {% if block.settings.title != blank %}
                <h3>{{ block.settings.title }}</h3>
              {% endif %}
              {{ block.settings.richtext }}
          {% endcase %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Video with text",
    "class": "index-section",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Video"
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "limit": 1,
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your featured video"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text",
            "default": "<p>Introduce your video, describe your product and brand, or showcase a review.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video with text",
        "category": "Video",
        "blocks": [
          {
            "type": "video"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
